@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Every Cent Matters</h1>
    <p>Our Staff at various Locations Are here to help those in need</p>
</div>
<div class="text-center">
    <h4 class="display-4">Call One of our locations to get in touch with one of our owners to see how you can make a difference today</h4>
</div>
<div class="text-center">
    <p>Nathan</p>
    <p>Larocque</p>
    <p>Phone: 111-111-1111</p>
    <p>Location: Barrie, On</p>
</div>
